.room {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .room__header {
    grid-area: header;
    padding: 20px 0;
  }

  .room__main {
    grid-area: main;
  }

  .room__playlist {
    grid-area: playlist;
    background: #eee;
  }

  .room__chat {
    grid-area: chat;
    background: #eee;
  }

  .room__logger {
    overflow: auto;
    height: 100px;
  }
}

// Desktop
@media only screen and (min-width: 768px) {
  .room {
    display: grid;
    grid-template-columns: 50px 1fr 250px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header header header'
      'playlist main chat';
  }

  .room__main {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

// Large screen
@media only screen and (min-width: 1200px) {
  .room {
    grid-template-columns: 240px 1fr 300px;
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  .room__player {
    height: 50vh;
  }

  .room__logger,
  .room__chat {
    display: none;
  }
}
