.room {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .room__header {
    grid-area: header;
    padding: 20px 0;
  }

  .room__main {
    grid-area: main;
  }

  .room__playlist {
    grid-area: playlist;
  }

  .room__chat {
    grid-area: chat;
  }

  .room__logger {
    overflow: auto;
    height: 250px;
  }
}

// Desktop

@media only screen and (min-width: 768px) {
  .room {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
      'header header header'
      'playlist main chat';
  }

  .room__main {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  .room__player {
    height: 50vh;
  }

  .room__logger {
    display: none;
  }
}
